<!--导航栏-->
<div class="nav-container">
    <cedar-navigation></cedar-navigation>
</div>

<div class="middle-section" [class.collapse-menu]="collecpse">
    <router-outlet></router-outlet>
    <!--<div class="menu-container">-->
        <!--<cedar-menu (toggle)="toggleMenu()"></cedar-menu>-->
    <!--</div>-->
  <!--&lt;!&ndash;  <div class="tree-container">-->
        <!--<cedar-tree></cedar-tree>-->
    <!--</div>&ndash;&gt;-->
    <!--<div class="main-container">-->
        <!--<main-container></main-container>-->
    <!--</div>-->
</div>

<!--下方页脚-->
<!--<div class="footer-container">
    <cedar-footer></cedar-footer>
</div>-->
