<div class="modal" id="warnModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div>
      <div class="ue_tanchukuang" >
         <div class="tanchukuang_container" [ngSwitch]="length">
            <i><img src="images/error.png"></i>
            <template [ngSwitchWhen]="0">
            <span>请选择删除元素</span>
            </template>
            <template [ngSwitchWhen]= '-1'>
            <span>{{contents.warn}}</span>
            </template>
            <template ngSwitchDefault>
            <span>确认删除当前所选数据？</span>
            </template>
         </div>
         <div class="ue_button">
            <button class="queding">确定</button>
            <button class="quxiao" data-dismiss="modal">取消</button>
         </div>
      </div>
</div>
</div>
