input{margin: 0; padding: 0; border:none;}
.ue_toolbar .tool_content{background-color:#0a938a; width:100%; height:50px; overflow:hidden;}
.ue_toolbar .tools{margin-left:20px;}
.ue_toolbar .tools a{float:left; margin:13px 20px;}
.ue_toolbar .search_content{overflow:hidden; float:right;}
.ue_toolbar .search_icon{float:right; padding-right:20px; margin:13px 0;}
.ue_toolbar .search{ background-color:#FFF; overflow:hidden; float:right; height:32px; margin:9px 10px; border-radius:2px;}
.ue_toolbar .search input{float:left; width:220px; height:32px; font-size:14px; font-family:'微软雅黑'; margin-left:8px;}
.ue_toolbar .search .line{float:left; margin:2px 0; height:26px;}
.ue_toolbar .search .xiala{float:right; width:18px; height:18px; margin:8px 8px;}
.ue_toolbar .zhankai{width:100%; overflow:hidden; border-bottom:rgba(255,255,255,0.4) 1px solid;height: 0px;}
.ue_toolbar .zhankai .button{width:80px; border-radius:2px; background-color:#0a938a; font-family:'微软雅黑'; font-size:14px; line-height:28px; float:right; color:#FFF; text-align:center; margin:10px 0; margin-right:20px;}
.ue_toolbar .zhankai .chushui{font-family:'微软雅黑'; font-size:14px;  float:right; color:#FFF; margin-right:40px;}
.ue_toolbar .zhankai .chushui input{width:80px; height:26px; border-radius:2px; font-family:'微软雅黑'; font-size:14px; margin-top: 12px;}

.ue_toolbar .zhankai.active{
  height: auto !important;
}
